google-generativeai
streamlit
pandas
reportlab
python-dotenv
pytest
streamlit-mic-recorder
SpeechRecognition
pydub
opencv-python
mediapipe
numpy
PyPDF2

# Multi-Agent Framework
langgraph
langchain
langchain-google-genai
langchain-core
fastapi
uvicorn
pydantic
