--extra-index-url https://download.pytorch.org/whl/cpu
streamlit
fastapi
uvicorn
SQLAlchemy
reportlab
python-jose
passlib
cryptography
bcrypt
numpy
opencv-python-headless
mediapipe
pydantic
vaderSentiment
torch
openai-whisper
python-multipart
python-dotenv
googlesearch-python
requests
