streamlit
fastapi
uvicorn
SQLAlchemy
reportlab
python-jose
passlib
cryptography
bcrypt
numpy
opencv-python-headless
mediapipe
pydantic
vaderSentiment
openai-whisper
torch
python-multipart
python-dotenv
googlesearch-python
requests
